<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quản Lý Tài Khoản</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
	<Link rel="stylesheet" href="/css/admin/adminNav.css">
	<Link rel="stylesheet" href="/css/admin/adminControlAccountDoctor.css">


</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar Navigation -->
			<nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <a href="#home" class="logo">🏨</a>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#home" class="nav-link">Trang Chủ</a></li>
                    <li class="nav-item"><a href="/nuser_patient_care/create_patient" class="nav-link">Tạo TT bệnh nhân</a></li>
                    <li class="nav-item"><a href="/nuser_patient_care/control_account_doctor" class="nav-link">Tra cứu thông tin</a></li>
                    <li class="nav-item"><a href="/nuser_patient_care/control_account_doctor" class="nav-link">Tra cứu Bác sĩ</a></li>
                    <li class="nav-item"><a href="/nuser_patient_care/logout" class="nav-link">Đăng Xuất</a></li>
                </ul>
            </nav>
			<!-- Main Content Area -->
			<div class="main-content col-md-9 col-lg-10">
				<h2>Tra Cứu Bác Sĩ</h2>

				<form method="get" action="/nuser_patient_care/search_account_doctor" class="search-form" th:object="${searchDto}">
					<div class="form-row">
						<!-- IP Person Input -->
						<div class="">
							<label for="idPerson">ID Person</label>
							<input type="text" class="form-control" id="idPerson" name="idPerson"
								placeholder="Nhập ID Person" th:field="*{idPerson}">
						</div>

						<!-- Name Input -->
						<div class="">
							<label for="name">Tên</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Nhập Tên"
								th:field="*{name}">
						</div>

						<!-- Specialized Input -->
						<div class="">
							<label class="form-label">Chuyên khoa</label>
							<select class="form-select" th:field="*{specialized}">
								<option value=""> -- Chọn --</option>
								<option value="INTERNAL_MEDICINE">Internal Medicine - Nội khoa</option>
								<option value="SURGERY">Surgery - Ngoại khoa</option>
								<option value="OBSTETRICS_AND_GYNECOLOGY">Obstetrics and Gynecology - Sản phụ khoa
								</option>
								<option value="PEDIATRICS">Pediatrics - Nhi khoa</option>
								<option value="DERMATOLOGY">Dermatology - Da liễu</option>
								<option value="PSYCHIATRY">Psychiatry - Tâm thần học</option>
							</select>
						</div>

						<!-- Phone Number Input -->
						<div class="">
							<label for="phoneNumber">Số điện thoại</label>
							<input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
								placeholder="Nhập Số Điện Thoại" th:field="*{phoneNumber}">
						</div>
						<!-- Search Button -->
						<button type="submit" class="btn btn-primary">Tìm kiếm</button>
					</div>
				</form>


				<!-- User Cards (Vertical Layout) -->
				<div id="user-list" th:each="doctor : ${doctors}">
					<!-- Example of a single user card -->
					<div class="user-card">
						<!-- Avatar -->
						<img class="user-avatar" th:src="@{'/avatar/' + ${doctor.avatar}}"
							alt="Ảnh Đại Diện Người Dùng">

						<!-- User Information -->
						<div class="user-info">
							<p class="user-info-item"><span><strong>IP: </strong></span><span
									th:text="${doctor.idPerson}"></span></p>
							<p class="user-info-item"><span><strong>Tên: </strong></span><span
									th:text="${doctor.name}"></span></p>
							<p class="user-info-item"><span><strong>Chuyên ngành: </strong></span> <span
									th:text="${doctor.specialized}"></span></p>
							<p class="user-info-item"><span><strong>Số điện thoại: </strong></span> <span
									th:text="${doctor.phoneNumber}"></span></p>
						</div>
					</div>
				</div>

				<!-- Pagination -->
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
									<a class="page-link"
										th:href="@{/nuser_patient_care/control_account_doctor(page=${currentPage - 1}, size=${size})}"
										aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
									th:classappend="${currentPage == i} ? 'active'">
									<a class="page-link"
										th:href="@{/nuser_patient_care/control_account_doctor(page=${i}, size=${size})}"
										th:text="${i + 1}">1</a>
								</li>
								<li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
									<a class="page-link"
										th:href="@{/nuser_patient_care/control_account_doctor(page=${currentPage + 1}, size=${size})}"
										aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>