<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quản Lý Tài Khoản</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
	<Link rel="stylesheet" href="/css/admin/adminNav.css">
	<Link rel="stylesheet" href="/css/admin/adminControlAccountDoctor.css">

	<style>
		.btn-primary{
			margin-bottom: 30px;
		}
	</style>
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar Navigation -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <a href="/doctor/doctor_home" class="logo">🏨</a>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="/doctor/doctor_home" class="nav-link">Trang Chủ</a></li>
                    <li class="nav-item"><a href="/doctor/profile" class="nav-link">Hồ sơ</a></li>
                    <li class="nav-item"><a href="/doctor/control_patient" class="nav-link">Công việc</a></li>
                    <li class="nav-item"><a href="/doctor/on_leave" class="nav-link">Xin nghỉ</a></li>
                    <li class="nav-item"><a href="/doctor/control_onleave" class="nav-link">Đơn xin nghỉ</a></li>
                    <li class="nav-item"><a href="/doctor/logout" class="nav-link">Đăng Xuất</a></li>
                </ul>
            </nav>
			<!-- Main Content Area -->
			<div class="main-content col-md-9 col-lg-10">
				<h2>Đơn xin nghỉ</h2>

				<form method="get" action="/doctor/search_onleave" class="search-form" th:object="${onLeaveConfirm}">
					<div class="form-row">
						<!-- IP Person Input -->
						<div class="">
							<label for="idPerson">ID Person</label>
							<input type="text" class="form-control" th:field="*{idPerson}"
								placeholder="Nhập ID Person" disabled>
						</div>

						<!-- Name Input -->
						<div class="mb-3">
							<label for="startDate" class="form-label">Ngày tạo đơn xin nghỉ</label>
							<input type="date" class="form-control" th:field="*{date}">
							</p>
						</div>

						<!-- Room Input -->
						<div class="mb-3">
							<label for="startDate" class="form-label">Ngày bắt đầu</label>
							<input type="date" class="form-control" th:field="*{startDate}">
							</p>
						</div>
						<!-- Phone Number Input -->
						<div class="mb-3">
							<label for="startDate" class="form-label">Ngày kết thúc</label>
							<input type="date" class="form-control" th:field="*{endDate}">
							</p>
						</div>
						<!-- Search Button -->
						<button type="submit" class="btn btn-primary">Tìm kiếm</button>
					</div>
				</form>

				<!-- User Cards (Vertical Layout) -->
				<div id="user-list" th:each="onLeave : ${onLeaves}">
					<!-- Example of a single user card -->
					<div class="user-card" th:attr="onclick='showOnLeaveInformation(\'' + ${onLeave.id} + '\')'">

						<!-- User Information -->
						<div class="user-info">
							<p class="user-info-item"><span><strong>ID Person: </strong></span><span
									th:text="${onLeave.idPerson}"></span></p>
							<p class="user-info-item"><span><strong>Ngày tạo đơn xin nghỉ: </strong></span><span
									th:text="${onLeave.createDate}"></span></p>
							<p class="user-info-item"><span><strong>Ngày bắt đầu </strong></span><span
									th:text="${onLeave.startDate}"></span></p>
							<p class="user-info-item"><span><strong>Ngày kết thúc: </strong></span> <span
									th:text="${onLeave.endDate}"></span></p>
							<p class="user-info-item"><span><strong>Lý do: </strong></span> <span
									th:text="${onLeave.reason}"></span></p>
						</div>
					</div>
				</div>

				<!-- Pagination -->
				<div class="row">
					<div class="col-md-12">
						<nav aria-label="Page navigation">
							<ul class="pagination justify-content-center">
								<li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
									<a class="page-link"
										th:href="@{/doctor/search_onleave_continue(page=${currentPage - 1}, size=${size}, idperson=${idperson}, createdate=${createdate}, startdate=${startdate}, enddate=${enddate})}"
										aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
									th:classappend="${currentPage == i} ? 'active'">
									<a class="page-link" th:href="@{/doctor/search_onleave_continue(page=${i}, size=${size}, idperson=${idperson}, createdate=${createdate}, startdate=${startdate}, enddate=${enddate})}"
										th:text="${i + 1}">1</a>
								</li>
								<li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
									<a class="page-link"
										th:href="@{/doctor/search_onleave_continue(page=${currentPage + 1}, size=${size}, idperson=${idperson}, createdate=${createdate}, startdate=${startdate}, enddate=${enddate})}"
										aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script>

		function showOnLeaveInformation(id) {
			window.location.href = `/doctor/onleave_information?idonleave=${id}`;
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>